extends layout

block content

  h1 Info Over Onze Actie
  p Scouts Hubertus geeft voor het goede doel een verkoopactie van pastapakketten. Iedereen kan hieraan deelnemen op twee manieren. Je kan je eigen pakketten maken en d.m.v. onze site deze verkopen of je kan met je bubbel genieten van ons assortiment aan pastapakketten gemaakt door onze geliefde deelnemers. Het geld dat hiermee verdiend wordt zal uitgaan naar de coronavaccins.

  h2 Wie Zijn We?
  p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

  h2 Inschrijven
  p Om mee te doen aan ons actie kan je onze form invullen waar je jouw pastapakket specifieert. Je kan dit pakket dan naar ons kantoor brengen waar wij het zullen verkopen. Wil je je inschrijven in onze scouts? Dat kan op onze officiele site.
