extends layout

block content
    h1 #{title}
    form(method = 'POST', action = '/packets/add')
        #form-group
            label Gerecht:
            input.form-control(name = 'Gerecht', type = 'text')
        #from-group
            label Prijs:
            input.form-control(name = 'Prijs', type = 'text')
        #from-group
            label Beschrijving:
            textarea.form-control(name = 'Beschrijving')
        br
        input.btn.btn-primary(type = 'submit', value = 'Submit')