extends layout

block content
  section.jumbotron.text-center
    .container
      h1 #{title}
      p.lead.text-muted
        | In onze scouts vinden we spaghetti enzo heel lekker, steun ons door mee te eten. Dit zijn nog een paar leuke evenementen die we graag hebben gedaan. Luister mee naar onze muziek op spotify
      p

  ul.list-group
    li.list-group-item
      h3= event.title
      p= event.description
      p.text-muted= event.date